.wp-block-x3p0-list-authors {

        &.has-background {
                padding: 2rem;
        }

	// Make sure themes aren't overwriting.
	&__list {
		font-weight: inherit;
		font-style: inherit;
		font-size: inherit;
		line-height: inherit;
		text-transform: inherit;
		border: none;
		background: none;
	}

	&__content {
		display: flex;
		gap: 0.5rem;
	}
}
